.mail-org-container{
  flex: 0.25;
  display: flex;
  padding: 16px 40px;
  flex-direction: column;
  align-items: center;
  color: #676a6c;
}

.new-email-btn{
  width: 100%;
  height: 30px;
  background-color: #00b493;
  cursor: pointer;
  border-radius: 2px;
  padding: 0 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.folders-container, .categories-container{
  margin-top: 20px;
}

.folders, .categories, .labels{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  font-size: 14px;
}

.labels-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.label-item{
  width: auto;
  display: flex;
  border: 1px solid #e7eaec;
  padding: 5px;
  background-color: #fff;
  margin: 5px;
  align-items: center;
  font-size: 10px;
}

.label-name {
  margin-left: 5px;
}

.folder-item {
  display: flex;
  border-bottom: 1px solid #dad5d5;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.category-item {
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.category-color {
  height: 10px;
  width: 10px;
  border-radius: 5px;
}

.folder-item > .badge {
  margin-left: auto;
  margin-right: 10px;
}

.folder-name, .category-name {
  margin-left: 10px;
}
